In [1]:
import numpy as np
num=np.array([3,32,54,76,78,65])
num.mean()

51.333333333333336

In [2]:
sum(num)/len(num)

51.333333333333336

In [3]:
np.sort(num)

array([ 3, 32, 54, 65, 76, 78])

In [4]:
np.median(num)

59.5

In [5]:
x=np.arange(1,91)

In [9]:
np.mean(x)

45.5

In [8]:
np.median(x)

45.5

# mode

In [12]:
import pandas as pd
gender=pd.Series(['M','F','M','M','F','M','F','M','F','M'])
gender.value_counts()

M    6
F    4
dtype: int64

In [13]:
gender.mode()

0    M
dtype: object

In [17]:
age=pd.Series([4,65,76,78,9,9,8,98,98,96])

In [18]:
age.value_counts()

9     2
98    2
78    1
76    1
8     1
4     1
65    1
96    1
dtype: int64

In [19]:
age.mode()

0     9
1    98
dtype: int64

# mid range

In [22]:
(num.max()+num.min())/2

40.5

### MEAN ABSOLUTE DEVIATION

In [23]:
sum(abs(num-np.mean(num)))/len(num)

22.555555555555554

# variance

In [24]:
np.mean((num-np.mean(num))** 2)

703.8888888888888

### SD

In [25]:
np.sqrt(np.mean((num-np.mean(num))** 2))

26.530904411438538

In [26]:
np.std(num)

26.530904411438538

# data opertaionss

# location : https://mitu.co.in/dataset
# download and save in current working directory

# https://mitu.co.in/dataset

In [32]:
import os
os.getcwd()

'C:\\Users\\Admin'

In [36]:
df=pd.read_csv('demo.csv')

In [34]:
df

,टाइमस्टँप,roll_num,name,middlename,surname,age,marks,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 11:02:32,2201013,Swaroop,Jitendra,Bankar,21.0,7.9,Male,Badminton,Pune,2017
1,30/05/2023 11:02:47,22201055,Isha,Praveen,Hosur,22.0,8.64,Female,Swimming,Pune,2017
2,30/05/2023 11:02:52,2201071,Pranav,Girish,Joshi,22.0,8.2,Male,Cricket,Pune,2017
3,30/05/2023 11:02:54,2201049,Kunal,Vijay,Golani,NaN,8.36 SGPA,Male,Cricket,Surat,2017
4,30/05/2023 11:03:00,2201070,Naresh,prakash,Joshi,22.0,85,Male,cricket,aurangabad,2017
5,30/05/2023 11:03:02,2201041,Shreyas,Sanjay,Dharashivkar,22.0,7.9,Male,Swimming,Pune,2017
6,30/05/2023 11:03:05,2201068,Maitreyee,Mahesh,Joshi,22.0,9.25,Female,Badminton,Pune,2017
7,30/05/2023 11:03:16,2201069,Mrunal,Vivek,Joshi,21.0,88%,Female,swimming,Pune,2017
8,30/05/2023 11:03:29,2201043,Vaibhav,Girish,Dixit,23.0,80,Male,Squash,Mumbai,2015
9,30/05/2023 11:03:32,2201065,Aakash,Satish,Jagtap,21.0,82.4,Male,Cricket,Pune,2017
10,30/05/2023 11:03:35,2201063,Sanket,Rajaram,Jadhav,NaN,98.21,Male,Swimmng,Chicnholi,2017
11,30/05/2023 11:03:38,2201038,Priyanka,Popat,Dhanave,21.0,82.8,Female,Swimming,Pune,2017
12,30/05/2023 11:03:40,2201097,Ranjit,Prakash,Kokare,NaN,80,Male,Badminton,Solapur,2015
13,30/05/2023 11:03:41,2201032,Aditi,Mangesh,Deo,NaN,75%,Female,swimming,Pune,2017
14,30/05/2023 11:03:43,2201040,Tejas,Arun,Dhanuskar,NaN,90,Male,Cricket,Nagpur,2017
15,30/05/2023 11:03:45,2201098,hritika,chandrakant,koli,22.0,50,Female,cricket,pune,2016
16,30/05/2023 11:03:58,2201016,Harshada,Vijay,Bhalekar,22.0,78%,Female,Badminton,Sangamner,2017
17,30/05/2023 11:04:01,2201051,Sanskriti,.,Gupta,NaN,100,Female,.,Varanasi,2017
18,30/05/2023 11:04:05,2201076,Akanksha,Bharat,Kadlag,22.0,87,Female,Badminton,Sinnar,2016
19,30/05/2023 11:04:05,2201035,Parth,Dinkar,Deshpande,21.0,90,Male,Cricket,Akola,2017
20,30/05/2023 11:04:11,2201103,Ajay,Rupchand,Koronde,NaN,82,Male,Cricket,Gondia,2017
21,30/05/2023 11:04:14,2201089,Tejas,Mahendra,kashid,NaN,7.8,Male,Cricket,pune,2017
22,30/05/2023 11:04:28,2201177,Pranjal,Prakash,Shintre,22.0,87,Male,Football,Kolhapur,2016
23,30/05/2023 11:04:46,2201030,Debraj,Debasish,Das,NaN,100,Male,Football,Kolkata,2017
24,30/05/2023 11:04:47,2201101,Shreya,Rahul,Korde,21.0,85,Female,Cricket,Kolhapur,2017
25,30/05/2023 11:04:49,2201024,Vedant,Mangesh,Chandratre,22.0,8.57 sgpa,Male,Power Lifting,Pune,2017
26,30/05/2023 11:04:58,2201102,Ganesh,Balasaheb,Kore,NaN,100,Male,Cricket,pune,2016
27,30/05/2023 11:04:58,2201002,Parth,Pramod,Agnihotri,NaN,83.32,Male,TT_Badminton,pune,2019
28,30/05/2023 11:04:59,2201028,Mihir,Hemant,chaudhary,22.0,89,Male,football,mumbai,2017
29,30/05/2023 11:05:02,2201037,Abhishek,Ramdas,Dethe,NaN,8,Male,Cricket,Amravati,2016
30,30/05/2023 11:05:06,2201095,Aditya,Ashok,Kodape,22.0,7.9 cgpa,Male,football,Satefal,2017
31,30/05/2023 11:05:06,2201020,Mayur,Sanjaykumar,Biyale,NaN,83,Male,Cricket,Beed,2015
32,30/05/2023 11:05:11,2201018,RIYA,PRAMOD,BHIDE,23.0,7.32 SGPA,Female,CRICKET,NAGPUR,2015
33,30/05/2023 11:05:18,2201073,Utkarsha,Shridhar,Joshi,22.0,66,Female,Cricket,Aurangabad,2017
34,30/05/2023 11:05:21,2201008,Shreyash,Sanjay,Amrutkar,21.0,80,Male,Cricket,Nashik,2017
35,30/05/2023 11:05:27,2201056,Aditya,Sanjay,Jadhav,23.0,93,Male,Cricket,Nashik,2016
36,30/05/2023 11:05:28,2201077,Aniruddha,Rajesh,Kakade,NaN,70,Male,Football,Kolhapur,2017
37,30/05/2023 11:05:44,2201021,Yash,Subhash,Bombale,21.0,72.10%,Male,Swimming,Pune,2017
38,30/05/2023 11:05:51,2201009,Anshika,,,NaN,7.96,Female,Badminton,Pune,2016
39,30/05/2023 11:05:52,2201094,keshvi,kumari,khanduja,22.0,8.5,Female,badminton,neemuct,2017
40,30/05/2023 11:05:52,2201004,Ritika,Surendra,Ahuja,22.0,75%,Female,Badminton,Dhule,2021
41,30/05/2023 11:05:55,2201022,Omkar,Vijay,Borse,21.0,8.36,Male,cricket,Nashik,2017
42,30/05/2023 11:05:56,2201061,Rohit,Sunil,Jadhav,23.0,7.21 SGPA,Male,Cricket,Sangamner,2016
43,30/05/2023 11:05:59,2201031,Amogh,Shrikant,Datar,22.0,81,Male,Chess,Pune,2017
44,30/05/2023 11:06:10,2201012,Gaurav,Sunil,Bangade,21.0,8,Male,voliball,Warora,2017
45,30/05/2023 11:06:14,2201036,Eshan,Ashish,Desle,24.0,7,Male,Cricket,Pune,2014
46,30/05/2023 11:06:25,2201058,Manasi,Shreedhar,Jadhav,22.0,8.5 sgpa,Female,cricket,mahabaleshwar,2017
47,30/05/2023 11:06:26,2201066,Bhargav,Nandkishor,Jagtap,NaN,81,Male,football,pune,2017-18
48,30/05/2023 11:06:34,2201067,srishti,Rajesh,Jain,23.0,7.3,Female,badminton,durg,2015
49,30/05/2023 11:06:41,2201088,Sahil,Sunil,Karpe,23.0,80,Male,Snocker,Nashik,2014
50,30/05/2023 11:06:44,2201051,Sanskriti,.,gupta,NaN,100,Female,.,Varanasi,2017
51,30/05/2023 11:07:08,2201083,SUYASH,DILIP,KAMBLE,23.0,7.7,Male,MOTORSPORTS,SASWAD,80
52,30/05/2023 11:07:11,2201007,Radhesahyam,Girish,Ambhore,22.0,8.9,Male,Cricket,Pune,2017
53,30/05/2023 11:07:26,2201054,Viresh,Nandkumar,Hiremath,NaN,7.9,Male,Cricket,Sangli,2016
54,30/05/2023 11:07:39,2201029,Tasmay,Ghanshyam,Daimiwal,22.0,7.8,Male,Football,Pune,2017
55,30/05/2023 11:07:42,2201075,vaibhav,Bharatrao,Kadam,23.0,95,Male,Chess,Jalna,2016

In [38]:
list(df.columns)

['टाइमस्टँप',
 'roll_num',
 'name',
 'middlename',
 'surname',
 'age',
 'marks',
 'gender',
 'favorite_sport',
 'native_city',
 'year_of_passing_10th']

In [39]:
df.head()

,टाइमस्टँप,roll_num,name,middlename,surname,age,marks,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 11:02:32,2201013,Swaroop,Jitendra,Bankar,21.0,7.9,Male,Badminton,Pune,2017
1,30/05/2023 11:02:47,22201055,Isha,Praveen,Hosur,22.0,8.64,Female,Swimming,Pune,2017
2,30/05/2023 11:02:52,2201071,Pranav,Girish,Joshi,22.0,8.2,Male,Cricket,Pune,2017
3,30/05/2023 11:02:54,2201049,Kunal,Vijay,Golani,NaN,8.36 SGPA,Male,Cricket,Surat,2017
4,30/05/2023 11:03:00,2201070,Naresh,prakash,Joshi,22.0,85,Male,cricket,aurangabad,2017

In [40]:
df.tail()

,टाइमस्टँप,roll_num,name,middlename,surname,age,marks,gender,favorite_sport,native_city,year_of_passing_10th
51,30/05/2023 11:07:08,2201083,SUYASH,DILIP,KAMBLE,23.0,7.7,Male,MOTORSPORTS,SASWAD,80
52,30/05/2023 11:07:11,2201007,Radhesahyam,Girish,Ambhore,22.0,8.9,Male,Cricket,Pune,2017
53,30/05/2023 11:07:26,2201054,Viresh,Nandkumar,Hiremath,NaN,7.9,Male,Cricket,Sangli,2016
54,30/05/2023 11:07:39,2201029,Tasmay,Ghanshyam,Daimiwal,22.0,7.8,Male,Football,Pune,2017
55,30/05/2023 11:07:42,2201075,vaibhav,Bharatrao,Kadam,23.0,95,Male,Chess,Jalna,2016

##### slicing of the data

In [41]:
df.iloc[3:8,2:6]

         name middlename       surname   age
3       Kunal      Vijay        Golani   NaN
4      Naresh    prakash         Joshi  22.0
5     Shreyas     Sanjay  Dharashivkar  22.0
6  Maitreyee      Mahesh         Joshi  22.0
7     Mrunal       Vivek         Joshi  21.0

In [42]:
df.iloc[30:,2:6]

            name   middlename   surname   age
30        Aditya        Ashok    Kodape  22.0
31        Mayur   Sanjaykumar    Biyale   NaN
32         RIYA        PRAMOD     BHIDE  23.0
33     Utkarsha      Shridhar    Joshi   22.0
34    Shreyash         Sanjay  Amrutkar  21.0
35        Aditya      Sanjay     Jadhav  23.0
36     Aniruddha       Rajesh    Kakade   NaN
37         Yash       Subhash   Bombale  21.0
38       Anshika                          NaN
39       keshvi        kumari  khanduja  22.0
40       Ritika      Surendra     Ahuja  22.0
41        Omkar         Vijay     Borse  21.0
42        Rohit         Sunil    Jadhav  23.0
43         Amogh     Shrikant     Datar  22.0
44        Gaurav        Sunil   Bangade  21.0
45        Eshan        Ashish     Desle  24.0
46       Manasi     Shreedhar    Jadhav  22.0
47      Bhargav    Nandkishor    Jagtap   NaN
48      srishti        Rajesh      Jain  23.0
49         Sahil        Sunil     Karpe  23.0
50    Sanskriti             .     gupta   NaN
51        SUYASH        DILIP    KAMBLE  23.0
52  Radhesahyam        Girish   Ambhore  22.0
53       Viresh     Nandkumar  Hiremath   NaN
54       Tasmay     Ghanshyam  Daimiwal  22.0
55       vaibhav    Bharatrao     Kadam  23.0

In [43]:
df.iloc[3:,:7]

,टाइमस्टँप,roll_num,name,middlename,surname,age,marks
3,30/05/2023 11:02:54,2201049,Kunal,Vijay,Golani,NaN,8.36 SGPA
4,30/05/2023 11:03:00,2201070,Naresh,prakash,Joshi,22.0,85
5,30/05/2023 11:03:02,2201041,Shreyas,Sanjay,Dharashivkar,22.0,7.9
6,30/05/2023 11:03:05,2201068,Maitreyee,Mahesh,Joshi,22.0,9.25
7,30/05/2023 11:03:16,2201069,Mrunal,Vivek,Joshi,21.0,88%
8,30/05/2023 11:03:29,2201043,Vaibhav,Girish,Dixit,23.0,80
9,30/05/2023 11:03:32,2201065,Aakash,Satish,Jagtap,21.0,82.4
10,30/05/2023 11:03:35,2201063,Sanket,Rajaram,Jadhav,NaN,98.21
11,30/05/2023 11:03:38,2201038,Priyanka,Popat,Dhanave,21.0,82.8
12,30/05/2023 11:03:40,2201097,Ranjit,Prakash,Kokare,NaN,80
13,30/05/2023 11:03:41,2201032,Aditi,Mangesh,Deo,NaN,75%
14,30/05/2023 11:03:43,2201040,Tejas,Arun,Dhanuskar,NaN,90
15,30/05/2023 11:03:45,2201098,hritika,chandrakant,koli,22.0,50
16,30/05/2023 11:03:58,2201016,Harshada,Vijay,Bhalekar,22.0,78%
17,30/05/2023 11:04:01,2201051,Sanskriti,.,Gupta,NaN,100
18,30/05/2023 11:04:05,2201076,Akanksha,Bharat,Kadlag,22.0,87
19,30/05/2023 11:04:05,2201035,Parth,Dinkar,Deshpande,21.0,90
20,30/05/2023 11:04:11,2201103,Ajay,Rupchand,Koronde,NaN,82
21,30/05/2023 11:04:14,2201089,Tejas,Mahendra,kashid,NaN,7.8
22,30/05/2023 11:04:28,2201177,Pranjal,Prakash,Shintre,22.0,87
23,30/05/2023 11:04:46,2201030,Debraj,Debasish,Das,NaN,100
24,30/05/2023 11:04:47,2201101,Shreya,Rahul,Korde,21.0,85
25,30/05/2023 11:04:49,2201024,Vedant,Mangesh,Chandratre,22.0,8.57 sgpa
26,30/05/2023 11:04:58,2201102,Ganesh,Balasaheb,Kore,NaN,100
27,30/05/2023 11:04:58,2201002,Parth,Pramod,Agnihotri,NaN,83.32
28,30/05/2023 11:04:59,2201028,Mihir,Hemant,chaudhary,22.0,89
29,30/05/2023 11:05:02,2201037,Abhishek,Ramdas,Dethe,NaN,8
30,30/05/2023 11:05:06,2201095,Aditya,Ashok,Kodape,22.0,7.9 cgpa
31,30/05/2023 11:05:06,2201020,Mayur,Sanjaykumar,Biyale,NaN,83
32,30/05/2023 11:05:11,2201018,RIYA,PRAMOD,BHIDE,23.0,7.32 SGPA
33,30/05/2023 11:05:18,2201073,Utkarsha,Shridhar,Joshi,22.0,66
34,30/05/2023 11:05:21,2201008,Shreyash,Sanjay,Amrutkar,21.0,80
35,30/05/2023 11:05:27,2201056,Aditya,Sanjay,Jadhav,23.0,93
36,30/05/2023 11:05:28,2201077,Aniruddha,Rajesh,Kakade,NaN,70
37,30/05/2023 11:05:44,2201021,Yash,Subhash,Bombale,21.0,72.10%
38,30/05/2023 11:05:51,2201009,Anshika,,,NaN,7.96
39,30/05/2023 11:05:52,2201094,keshvi,kumari,khanduja,22.0,8.5
40,30/05/2023 11:05:52,2201004,Ritika,Surendra,Ahuja,22.0,75%
41,30/05/2023 11:05:55,2201022,Omkar,Vijay,Borse,21.0,8.36
42,30/05/2023 11:05:56,2201061,Rohit,Sunil,Jadhav,23.0,7.21 SGPA
43,30/05/2023 11:05:59,2201031,Amogh,Shrikant,Datar,22.0,81
44,30/05/2023 11:06:10,2201012,Gaurav,Sunil,Bangade,21.0,8
45,30/05/2023 11:06:14,2201036,Eshan,Ashish,Desle,24.0,7
46,30/05/2023 11:06:25,2201058,Manasi,Shreedhar,Jadhav,22.0,8.5 sgpa
47,30/05/2023 11:06:26,2201066,Bhargav,Nandkishor,Jagtap,NaN,81
48,30/05/2023 11:06:34,2201067,srishti,Rajesh,Jain,23.0,7.3
49,30/05/2023 11:06:41,2201088,Sahil,Sunil,Karpe,23.0,80
50,30/05/2023 11:06:44,2201051,Sanskriti,.,gupta,NaN,100
51,30/05/2023 11:07:08,2201083,SUYASH,DILIP,KAMBLE,23.0,7.7
52,30/05/2023 11:07:11,2201007,Radhesahyam,Girish,Ambhore,22.0,8.9
53,30/05/2023 11:07:26,2201054,Viresh,Nandkumar,Hiremath,NaN,7.9
54,30/05/2023 11:07:39,2201029,Tasmay,Ghanshyam,Daimiwal,22.0,7.8
55,30/05/2023 11:07:42,2201075,vaibhav,Bharatrao,Kadam,23.0,95

In [44]:
df.iloc[26:27,1:]

,roll_num,name,middlename,surname,age,marks,gender,favorite_sport,native_city,year_of_passing_10th
26,2201102,Ganesh,Balasaheb,Kore,NaN,100,Male,Cricket,pune,2016

In [45]:
df.iloc[26,:]

टाइमस्टँप               30/05/2023 11:04:58
roll_num                            2201102
name                                Ganesh
middlename                        Balasaheb
surname                                Kore
age                                     NaN
marks                                   100
gender                                 Male
favorite_sport                      Cricket
native_city                            pune
year_of_passing_10th                   2016
Name: 26, dtype: object

In [47]:
df.loc[:,'name']

0         Swaroop
1             Isha
2          Pranav
3            Kunal
4           Naresh
5          Shreyas
6       Maitreyee
7          Mrunal
8         Vaibhav
9          Aakash
10        Sanket
11       Priyanka
12          Ranjit
13           Aditi
14           Tejas
15        hritika
16        Harshada
17      Sanskriti
18       Akanksha
19          Parth
20           Ajay
21          Tejas
22        Pranjal
23          Debraj
24         Shreya
25          Vedant
26         Ganesh
27          Parth
28          Mihir
29        Abhishek
30          Aditya
31          Mayur
32           RIYA
33       Utkarsha
34      Shreyash
35          Aditya
36       Aniruddha
37           Yash
38         Anshika
39         keshvi
40         Ritika
41          Omkar
42          Rohit
43           Amogh
44          Gaurav
45          Eshan
46         Manasi
47        Bhargav
48        srishti
49           Sahil
50      Sanskriti
51          SUYASH
52    Radhesahyam
53         Viresh
54         Tasmay
55         vaibhav
Name: name, dtype: object

In [48]:
df.loc[:,['name','surname']]

            name       surname
0       Swaroop         Bankar
1           Isha         Hosur
2        Pranav          Joshi
3          Kunal        Golani
4         Naresh         Joshi
5        Shreyas  Dharashivkar
6     Maitreyee          Joshi
7        Mrunal          Joshi
8       Vaibhav          Dixit
9        Aakash         Jagtap
10      Sanket          Jadhav
11     Priyanka        Dhanave
12        Ranjit        Kokare
13         Aditi           Deo
14         Tejas     Dhanuskar
15      hritika           koli
16      Harshada      Bhalekar
17    Sanskriti          Gupta
18     Akanksha         Kadlag
19        Parth      Deshpande
20         Ajay        Koronde
21        Tejas         kashid
22      Pranjal        Shintre
23        Debraj           Das
24       Shreya          Korde
25        Vedant    Chandratre
26       Ganesh           Kore
27        Parth      Agnihotri
28        Mihir      chaudhary
29      Abhishek         Dethe
30        Aditya        Kodape
31        Mayur         Biyale
32         RIYA          BHIDE
33     Utkarsha         Joshi
34    Shreyash        Amrutkar
35        Aditya        Jadhav
36     Aniruddha        Kakade
37         Yash        Bombale
38       Anshika
39       keshvi       khanduja
40       Ritika          Ahuja
41        Omkar          Borse
42        Rohit         Jadhav
43         Amogh         Datar
44        Gaurav       Bangade
45        Eshan          Desle
46       Manasi         Jadhav
47      Bhargav         Jagtap
48      srishti           Jain
49         Sahil         Karpe
50    Sanskriti          gupta
51        SUYASH        KAMBLE
52  Radhesahyam        Ambhore
53       Viresh       Hiremath
54       Tasmay       Daimiwal
55       vaibhav         Kadam

In [51]:
df[['name','marks']]

            name      marks
0       Swaroop         7.9
1           Isha       8.64
2        Pranav         8.2
3          Kunal  8.36 SGPA
4         Naresh         85
5        Shreyas        7.9
6     Maitreyee        9.25
7        Mrunal         88%
8       Vaibhav          80
9        Aakash        82.4
10      Sanket        98.21
11     Priyanka        82.8
12        Ranjit         80
13         Aditi        75%
14         Tejas         90
15      hritika          50
16      Harshada        78%
17    Sanskriti         100
18     Akanksha          87
19        Parth          90
20         Ajay          82
21        Tejas         7.8
22      Pranjal          87
23        Debraj        100
24       Shreya          85
25        Vedant  8.57 sgpa
26       Ganesh         100
27        Parth       83.32
28        Mihir          89
29      Abhishek          8
30        Aditya   7.9 cgpa
31        Mayur          83
32         RIYA   7.32 SGPA
33     Utkarsha          66
34    Shreyash           80
35        Aditya         93
36     Aniruddha         70
37         Yash      72.10%
38       Anshika       7.96
39       keshvi         8.5
40       Ritika         75%
41        Omkar        8.36
42        Rohit   7.21 SGPA
43         Amogh         81
44        Gaurav          8
45        Eshan           7
46       Manasi    8.5 sgpa
47      Bhargav          81
48      srishti         7.3
49         Sahil         80
50    Sanskriti         100
51        SUYASH        7.7
52  Radhesahyam         8.9
53       Viresh         7.9
54       Tasmay         7.8
55       vaibhav         95

In [52]:
df.columns

Index(['टाइमस्टँप', 'roll_num', 'name', 'middlename', 'surname', 'age',
       'marks', 'gender', 'favorite_sport', 'native_city',
       'year_of_passing_10th'],
      dtype='object')

In [56]:
df.drop(2)

,टाइमस्टँप,roll_num,name,middlename,surname,age,marks,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 11:02:32,2201013,Swaroop,Jitendra,Bankar,21.0,7.9,Male,Badminton,Pune,2017
1,30/05/2023 11:02:47,22201055,Isha,Praveen,Hosur,22.0,8.64,Female,Swimming,Pune,2017
3,30/05/2023 11:02:54,2201049,Kunal,Vijay,Golani,NaN,8.36 SGPA,Male,Cricket,Surat,2017
4,30/05/2023 11:03:00,2201070,Naresh,prakash,Joshi,22.0,85,Male,cricket,aurangabad,2017
5,30/05/2023 11:03:02,2201041,Shreyas,Sanjay,Dharashivkar,22.0,7.9,Male,Swimming,Pune,2017
6,30/05/2023 11:03:05,2201068,Maitreyee,Mahesh,Joshi,22.0,9.25,Female,Badminton,Pune,2017
7,30/05/2023 11:03:16,2201069,Mrunal,Vivek,Joshi,21.0,88%,Female,swimming,Pune,2017
8,30/05/2023 11:03:29,2201043,Vaibhav,Girish,Dixit,23.0,80,Male,Squash,Mumbai,2015
9,30/05/2023 11:03:32,2201065,Aakash,Satish,Jagtap,21.0,82.4,Male,Cricket,Pune,2017
10,30/05/2023 11:03:35,2201063,Sanket,Rajaram,Jadhav,NaN,98.21,Male,Swimmng,Chicnholi,2017
11,30/05/2023 11:03:38,2201038,Priyanka,Popat,Dhanave,21.0,82.8,Female,Swimming,Pune,2017
12,30/05/2023 11:03:40,2201097,Ranjit,Prakash,Kokare,NaN,80,Male,Badminton,Solapur,2015
13,30/05/2023 11:03:41,2201032,Aditi,Mangesh,Deo,NaN,75%,Female,swimming,Pune,2017
14,30/05/2023 11:03:43,2201040,Tejas,Arun,Dhanuskar,NaN,90,Male,Cricket,Nagpur,2017
15,30/05/2023 11:03:45,2201098,hritika,chandrakant,koli,22.0,50,Female,cricket,pune,2016
16,30/05/2023 11:03:58,2201016,Harshada,Vijay,Bhalekar,22.0,78%,Female,Badminton,Sangamner,2017
17,30/05/2023 11:04:01,2201051,Sanskriti,.,Gupta,NaN,100,Female,.,Varanasi,2017
18,30/05/2023 11:04:05,2201076,Akanksha,Bharat,Kadlag,22.0,87,Female,Badminton,Sinnar,2016
19,30/05/2023 11:04:05,2201035,Parth,Dinkar,Deshpande,21.0,90,Male,Cricket,Akola,2017
20,30/05/2023 11:04:11,2201103,Ajay,Rupchand,Koronde,NaN,82,Male,Cricket,Gondia,2017
21,30/05/2023 11:04:14,2201089,Tejas,Mahendra,kashid,NaN,7.8,Male,Cricket,pune,2017
22,30/05/2023 11:04:28,2201177,Pranjal,Prakash,Shintre,22.0,87,Male,Football,Kolhapur,2016
23,30/05/2023 11:04:46,2201030,Debraj,Debasish,Das,NaN,100,Male,Football,Kolkata,2017
24,30/05/2023 11:04:47,2201101,Shreya,Rahul,Korde,21.0,85,Female,Cricket,Kolhapur,2017
25,30/05/2023 11:04:49,2201024,Vedant,Mangesh,Chandratre,22.0,8.57 sgpa,Male,Power Lifting,Pune,2017
26,30/05/2023 11:04:58,2201102,Ganesh,Balasaheb,Kore,NaN,100,Male,Cricket,pune,2016
27,30/05/2023 11:04:58,2201002,Parth,Pramod,Agnihotri,NaN,83.32,Male,TT_Badminton,pune,2019
28,30/05/2023 11:04:59,2201028,Mihir,Hemant,chaudhary,22.0,89,Male,football,mumbai,2017
29,30/05/2023 11:05:02,2201037,Abhishek,Ramdas,Dethe,NaN,8,Male,Cricket,Amravati,2016
30,30/05/2023 11:05:06,2201095,Aditya,Ashok,Kodape,22.0,7.9 cgpa,Male,football,Satefal,2017
31,30/05/2023 11:05:06,2201020,Mayur,Sanjaykumar,Biyale,NaN,83,Male,Cricket,Beed,2015
32,30/05/2023 11:05:11,2201018,RIYA,PRAMOD,BHIDE,23.0,7.32 SGPA,Female,CRICKET,NAGPUR,2015
33,30/05/2023 11:05:18,2201073,Utkarsha,Shridhar,Joshi,22.0,66,Female,Cricket,Aurangabad,2017
34,30/05/2023 11:05:21,2201008,Shreyash,Sanjay,Amrutkar,21.0,80,Male,Cricket,Nashik,2017
35,30/05/2023 11:05:27,2201056,Aditya,Sanjay,Jadhav,23.0,93,Male,Cricket,Nashik,2016
36,30/05/2023 11:05:28,2201077,Aniruddha,Rajesh,Kakade,NaN,70,Male,Football,Kolhapur,2017
37,30/05/2023 11:05:44,2201021,Yash,Subhash,Bombale,21.0,72.10%,Male,Swimming,Pune,2017
38,30/05/2023 11:05:51,2201009,Anshika,,,NaN,7.96,Female,Badminton,Pune,2016
39,30/05/2023 11:05:52,2201094,keshvi,kumari,khanduja,22.0,8.5,Female,badminton,neemuct,2017
40,30/05/2023 11:05:52,2201004,Ritika,Surendra,Ahuja,22.0,75%,Female,Badminton,Dhule,2021
41,30/05/2023 11:05:55,2201022,Omkar,Vijay,Borse,21.0,8.36,Male,cricket,Nashik,2017
42,30/05/2023 11:05:56,2201061,Rohit,Sunil,Jadhav,23.0,7.21 SGPA,Male,Cricket,Sangamner,2016
43,30/05/2023 11:05:59,2201031,Amogh,Shrikant,Datar,22.0,81,Male,Chess,Pune,2017
44,30/05/2023 11:06:10,2201012,Gaurav,Sunil,Bangade,21.0,8,Male,voliball,Warora,2017
45,30/05/2023 11:06:14,2201036,Eshan,Ashish,Desle,24.0,7,Male,Cricket,Pune,2014
46,30/05/2023 11:06:25,2201058,Manasi,Shreedhar,Jadhav,22.0,8.5 sgpa,Female,cricket,mahabaleshwar,2017
47,30/05/2023 11:06:26,2201066,Bhargav,Nandkishor,Jagtap,NaN,81,Male,football,pune,2017-18
48,30/05/2023 11:06:34,2201067,srishti,Rajesh,Jain,23.0,7.3,Female,badminton,durg,2015
49,30/05/2023 11:06:41,2201088,Sahil,Sunil,Karpe,23.0,80,Male,Snocker,Nashik,2014
50,30/05/2023 11:06:44,2201051,Sanskriti,.,gupta,NaN,100,Female,.,Varanasi,2017
51,30/05/2023 11:07:08,2201083,SUYASH,DILIP,KAMBLE,23.0,7.7,Male,MOTORSPORTS,SASWAD,80
52,30/05/2023 11:07:11,2201007,Radhesahyam,Girish,Ambhore,22.0,8.9,Male,Cricket,Pune,2017
53,30/05/2023 11:07:26,2201054,Viresh,Nandkumar,Hiremath,NaN,7.9,Male,Cricket,Sangli,2016
54,30/05/2023 11:07:39,2201029,Tasmay,Ghanshyam,Daimiwal,22.0,7.8,Male,Football,Pune,2017
55,30/05/2023 11:07:42,2201075,vaibhav,Bharatrao,Kadam,23.0,95,Male,Chess,Jalna,2016

In [59]:
df.drop('टाइमस्टँप',axis=1,inplace=True)

In [61]:
df.columns

Index(['roll_num', 'name', 'middlename', 'surname', 'age', 'marks', 'gender',
       'favorite_sport', 'native_city', 'year_of_passing_10th'],
      dtype='object')

In [62]:
df.describe()

           roll_num      age
count  5.600000e+01  38.0000
mean   2.558196e+06  22.0000
std    2.672613e+06   0.7711
min    2.201002e+06  21.0000
25%    2.201029e+06  21.2500
50%    2.201052e+06  22.0000
75%    2.201075e+06  22.0000
max    2.220106e+07  24.0000

In [63]:
df.max()

roll_num                22201055
name                     vaibhav
middlename               prakash
surname                     koli
age                           24
marks                      98.21
gender                      Male
favorite_sport          voliball
native_city                 pune
year_of_passing_10th          80
dtype: object

In [64]:
df.count()

roll_num                56
name                    56
middlename              56
surname                 56
age                     38
marks                   56
gender                  56
favorite_sport          56
native_city             56
year_of_passing_10th    56
dtype: int64

In [65]:
df.sum()

roll_num                                                        143258998
name                    Swaroop IshaPranav KunalNareshShreyasMaitreyee...
middlename              JitendraPraveenGirishVijayprakashSanjayMaheshV...
surname                 BankarHosurJoshiGolaniJoshiDharashivkarJoshiJo...
age                                                                   836
marks                   7.98.648.28.36 SGPA857.99.2588%8082.498.2182.8...
gender                  MaleFemaleMaleMaleMaleMaleFemaleFemaleMaleMale...
favorite_sport          BadmintonSwimmingCricketCricketcricketSwimming...
native_city             PunePunePuneSurataurangabadPunePunePuneMumbaiP...
year_of_passing_10th    2017201720172017201720172017201720152017201720...
dtype: object

In [68]:
df.rank

<bound method NDFrame.rank of     roll_num          name   middlename       surname   age      marks  \
0    2201013      Swaroop      Jitendra        Bankar  21.0        7.9
1   22201055          Isha      Praveen         Hosur  22.0       8.64
2    2201071       Pranav        Girish         Joshi  22.0        8.2
3    2201049         Kunal        Vijay        Golani   NaN  8.36 SGPA
4    2201070        Naresh      prakash         Joshi  22.0         85
5    2201041       Shreyas       Sanjay  Dharashivkar  22.0        7.9
6    2201068    Maitreyee        Mahesh         Joshi  22.0       9.25
7    2201069       Mrunal         Vivek         Joshi  21.0        88%
8    2201043      Vaibhav        Girish         Dixit  23.0         80
9    2201065       Aakash        Satish        Jagtap  21.0       82.4
10   2201063      Sanket        Rajaram        Jadhav   NaN      98.21
11   2201038     Priyanka         Popat       Dhanave  21.0       82.8
12   2201097        Ranjit      Prakash        Kokare   NaN         80
13   2201032         Aditi      Mangesh           Deo   NaN        75%
14   2201040         Tejas         Arun     Dhanuskar   NaN         90
15   2201098      hritika   chandrakant          koli  22.0         50
16   2201016      Harshada        Vijay      Bhalekar  22.0        78%
17   2201051    Sanskriti             .         Gupta   NaN        100
18   2201076     Akanksha        Bharat        Kadlag  22.0         87
19   2201035        Parth        Dinkar     Deshpande  21.0         90
20   2201103         Ajay     Rupchand        Koronde   NaN         82
21   2201089        Tejas      Mahendra        kashid   NaN        7.8
22   2201177      Pranjal       Prakash       Shintre  22.0         87
23   2201030        Debraj     Debasish           Das   NaN        100
24   2201101       Shreya         Rahul         Korde  21.0         85
25   2201024        Vedant      Mangesh    Chandratre  22.0  8.57 sgpa
26   2201102       Ganesh     Balasaheb          Kore   NaN        100
27   2201002        Parth        Pramod     Agnihotri   NaN      83.32
28   2201028        Mihir        Hemant     chaudhary  22.0         89
29   2201037      Abhishek       Ramdas         Dethe   NaN          8
30   2201095        Aditya        Ashok        Kodape  22.0   7.9 cgpa
31   2201020        Mayur   Sanjaykumar        Biyale   NaN         83
32   2201018         RIYA        PRAMOD         BHIDE  23.0  7.32 SGPA
33   2201073     Utkarsha      Shridhar        Joshi   22.0         66
34   2201008    Shreyash         Sanjay      Amrutkar  21.0         80
35   2201056        Aditya      Sanjay         Jadhav  23.0         93
36   2201077     Aniruddha       Rajesh        Kakade   NaN         70
37   2201021         Yash       Subhash       Bombale  21.0     72.10%
38   2201009       Anshika                              NaN       7.96
39   2201094       keshvi        kumari      khanduja  22.0        8.5
40   2201004       Ritika      Surendra         Ahuja  22.0        75%
41   2201022        Omkar         Vijay         Borse  21.0       8.36
42   2201061        Rohit         Sunil        Jadhav  23.0  7.21 SGPA
43   2201031         Amogh     Shrikant         Datar  22.0         81
44   2201012        Gaurav        Sunil       Bangade  21.0          8
45   2201036        Eshan        Ashish         Desle  24.0          7
46   2201058       Manasi     Shreedhar        Jadhav  22.0   8.5 sgpa
47   2201066      Bhargav    Nandkishor        Jagtap   NaN         81
48   2201067      srishti        Rajesh          Jain  23.0        7.3
49   2201088         Sahil        Sunil         Karpe  23.0         80
50   2201051    Sanskriti             .         gupta   NaN        100
51   2201083        SUYASH        DILIP        KAMBLE  23.0        7.7
52   2201007  Radhesahyam        Girish       Ambhore  22.0        8.9
53   2201054       Viresh     Nandkumar      Hiremath   NaN        7.9
54   2201029       Tasmay     Ghanshyam      Daimiwal  22.0        7.8
55   2201075       vaibhav    Bharatrao         Kadam  23.0         95

    gender favorite_sport    native_city year_of_passing_10th
0     Male      Badminton           Pune                 2017
1   Female       Swimming           Pune                 2017
2     Male        Cricket           Pune                 2017
3     Male        Cricket          Surat                 2017
4     Male        cricket     aurangabad                 2017
5     Male       Swimming           Pune                 2017
6   Female      Badminton           Pune                 2017
7   Female       swimming           Pune                 2017
8     Male         Squash         Mumbai                 2015
9     Male        Cricket           Pune                 2017
10    Male        Swimmng      Chicnholi                 2017
11  Female       Swimming           Pune                 2017
12    Male      Badminton        Solapur                 2015
13  Female       swimming           Pune                 2017
14    Male        Cricket         Nagpur                 2017
15  Female        cricket           pune                 2016
16  Female      Badminton      Sangamner                 2017
17  Female              .       Varanasi                 2017
18  Female      Badminton         Sinnar                 2016
19    Male        Cricket          Akola                 2017
20    Male        Cricket         Gondia                 2017
21    Male        Cricket           pune                 2017
22    Male       Football       Kolhapur                 2016
23    Male       Football        Kolkata                 2017
24  Female        Cricket       Kolhapur                 2017
25    Male  Power Lifting           Pune                 2017
26    Male        Cricket           pune                 2016
27    Male   TT_Badminton           pune                 2019
28    Male       football         mumbai                 2017
29    Male        Cricket       Amravati                 2016
30    Male       football        Satefal                 2017
31    Male        Cricket           Beed                 2015
32  Female        CRICKET         NAGPUR                 2015
33  Female       Cricket     Aurangabad                  2017
34    Male        Cricket         Nashik                 2017
35    Male        Cricket         Nashik                 2016
36    Male       Football       Kolhapur                 2017
37    Male      Swimming            Pune                 2017
38  Female      Badminton           Pune                 2016
39  Female      badminton        neemuct                 2017
40  Female      Badminton          Dhule                 2021
41    Male        cricket         Nashik                 2017
42    Male        Cricket      Sangamner                 2016
43    Male          Chess           Pune                 2017
44    Male       voliball         Warora                 2017
45    Male        Cricket           Pune                 2014
46  Female        cricket  mahabaleshwar                 2017
47    Male       football           pune              2017-18
48  Female      badminton           durg                 2015
49    Male        Snocker         Nashik                 2014
50  Female              .       Varanasi                 2017
51    Male    MOTORSPORTS         SASWAD                   80
52    Male        Cricket           Pune                 2017
53    Male        Cricket         Sangli                 2016
54    Male       Football           Pune                 2017
55    Male          Chess          Jalna                 2016  >

In [70]:
df['age'].max()

24.0

In [73]:
df['age'].mean()

22.0

In [77]:
df['name'].str.upper()

0         SWAROOP
1             ISHA
2          PRANAV
3            KUNAL
4           NARESH
5          SHREYAS
6       MAITREYEE
7          MRUNAL
8         VAIBHAV
9          AAKASH
10        SANKET
11       PRIYANKA
12          RANJIT
13           ADITI
14           TEJAS
15        HRITIKA
16        HARSHADA
17      SANSKRITI
18       AKANKSHA
19          PARTH
20           AJAY
21          TEJAS
22        PRANJAL
23          DEBRAJ
24         SHREYA
25          VEDANT
26         GANESH
27          PARTH
28          MIHIR
29        ABHISHEK
30          ADITYA
31          MAYUR
32           RIYA
33       UTKARSHA
34      SHREYASH
35          ADITYA
36       ANIRUDDHA
37           YASH
38         ANSHIKA
39         KESHVI
40         RITIKA
41          OMKAR
42          ROHIT
43           AMOGH
44          GAURAV
45          ESHAN
46         MANASI
47        BHARGAV
48        SRISHTI
49           SAHIL
50      SANSKRITI
51          SUYASH
52    RADHESAHYAM
53         VIRESH
54         TASMAY
55         VAIBHAV
Name: name, dtype: object

In [78]:
df['name'].str.strip()

0         Swaroop
1            Isha
2          Pranav
3           Kunal
4          Naresh
5         Shreyas
6       Maitreyee
7          Mrunal
8         Vaibhav
9          Aakash
10         Sanket
11       Priyanka
12         Ranjit
13          Aditi
14          Tejas
15        hritika
16       Harshada
17      Sanskriti
18       Akanksha
19          Parth
20           Ajay
21          Tejas
22        Pranjal
23         Debraj
24         Shreya
25         Vedant
26         Ganesh
27          Parth
28          Mihir
29       Abhishek
30         Aditya
31          Mayur
32           RIYA
33       Utkarsha
34       Shreyash
35         Aditya
36      Aniruddha
37           Yash
38        Anshika
39         keshvi
40         Ritika
41          Omkar
42          Rohit
43          Amogh
44         Gaurav
45          Eshan
46         Manasi
47        Bhargav
48        srishti
49          Sahil
50      Sanskriti
51         SUYASH
52    Radhesahyam
53         Viresh
54         Tasmay
55        vaibhav
Name: name, dtype: object

In [79]:
df['name'].str.swapcase()

0         sWAROOP
1             iSHA
2          pRANAV
3            kUNAL
4           nARESH
5          sHREYAS
6       mAITREYEE
7          mRUNAL
8         vAIBHAV
9          aAKASH
10        sANKET
11       pRIYANKA
12          rANJIT
13           aDITI
14           tEJAS
15        HRITIKA
16        hARSHADA
17      sANSKRITI
18       aKANKSHA
19          pARTH
20           aJAY
21          tEJAS
22        pRANJAL
23          dEBRAJ
24         sHREYA
25          vEDANT
26         gANESH
27          pARTH
28          mIHIR
29        aBHISHEK
30          aDITYA
31          mAYUR
32           riya
33       uTKARSHA
34      sHREYASH
35          aDITYA
36       aNIRUDDHA
37           yASH
38         aNSHIKA
39         KESHVI
40         rITIKA
41          oMKAR
42          rOHIT
43           aMOGH
44          gAURAV
45          eSHAN
46         mANASI
47        bHARGAV
48        SRISHTI
49           sAHIL
50      sANSKRITI
51          suyash
52    rADHESAHYAM
53         vIRESH
54         tASMAY
55         VAIBHAV
Name: name, dtype: object

In [89]:
df.get('favorite_sport')

0         Badminton
1          Swimming
2           Cricket
3           Cricket
4           cricket
5          Swimming
6         Badminton
7          swimming
8            Squash
9           Cricket
10          Swimmng
11         Swimming
12        Badminton
13         swimming
14          Cricket
15          cricket
16        Badminton
17                .
18        Badminton
19          Cricket
20          Cricket
21          Cricket
22         Football
23         Football
24          Cricket
25    Power Lifting
26          Cricket
27     TT_Badminton
28         football
29          Cricket
30         football
31          Cricket
32          CRICKET
33         Cricket
34          Cricket
35          Cricket
36         Football
37        Swimming
38        Badminton
39        badminton
40        Badminton
41          cricket
42          Cricket
43            Chess
44         voliball
45          Cricket
46          cricket
47         football
48        badminton
49          Snocker
50                .
51      MOTORSPORTS
52          Cricket
53          Cricket
54         Football
55            Chess
Name: favorite_sport, dtype: object

In [95]:
df['name'].str.startswith('G')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44     True
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
Name: name, dtype: bool

In [96]:
df['name'].str.endswith('G')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
Name: name, dtype: bool

In [97]:
df['favorite_sport'].mode()

0    Cricket
dtype: object

In [98]:
df['favorite_sport'].value_counts()

Cricket          17
Badminton         7
Football          4
cricket           4
football          3
Swimming          3
badminton         2
.                 2
Chess             2
swimming          2
Swimming          1
MOTORSPORTS       1
voliball          1
Cricket           1
Snocker           1
TT_Badminton      1
Swimmng           1
CRICKET           1
Power Lifting     1
Squash            1
Name: favorite_sport, dtype: int64

# boolean filtering

In [99]:
df['age']>23

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45     True
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
Name: age, dtype: bool

In [107]:
x=df[(df['gender'] == 'Male') & (df['favorite_sport'] == 'Cricket')]['name']

In [108]:
x.to_csv('outputgk.csv', index=False)